@font-face {
  font-family: Gilroy-Bold;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-Medium;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 100%;
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 4759px;
}

.conteiner__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.conteiner__wrapper .wrapper__heads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 943px;
  height: 88px;
}

.conteiner__wrapper .wrapper__heads .navbar__wrap .menu > li > a:hover {
  color: rgb(255, 255, 255);
}

.conteiner__wrapper .wrapper__heads .navbar__wrap .menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.conteiner__wrapper .wrapper__heads .navbar__wrap .menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.conteiner__wrapper .wrapper__heads .navbar__wrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conteiner__wrapper .wrapper__heads .menu > li > a {
  text-decoration: none;
}

.conteiner__wrapper .wrapper__heads .hamb {
  display: none;
}

.conteiner__wrapper .wrapper__heads .popup {
  display: none;
}

.conteiner__wrapper .wrapper__heads .navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.conteiner__wrapper .wrapper__heads .navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #7a52b3;
}

.conteiner__wrapper .wrapper__heads .container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.conteiner__wrapper .wrapper__heads .popup {
  display: none;
}

.conteiner__wrapper .wrapper__heads .heads__headlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 88px;
}

.conteiner__wrapper .wrapper__heads .heads__headlink .headlink__linkh {
  font-family: "Gilroy-Bold";
  font-size: 18px;
  color: #070707;
}

.conteiner__wrapper .wrapper__heads .heads__headlink .headlink__link {
  font-family: "Gilroy-Bold";
  font-size: 18px;
  color: #828282;
}

.conteiner__wrapper .wrapper__heads .headlink__link:hover {
  color: #000000;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.conteiner__wrapper .wrapper__heads .heads__line {
  width: 100%;
  border: 1px solid #828282;
}

.conteiner__wrapper .wrapper__bodywrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 943px;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo {
  margin: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__name h1 {
  font-family: "Gilroy-Bold";
  font-size: 47.3392px;
  color: #070707;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__yearsold p {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  color: #070707;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__rueng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__rueng .rueng__ru {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  color: #828282;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__rueng .rueng__eng {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  color: #000000;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__rueng .rueng__ru:hover {
  color: #000000;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__rueng .rueng__eng:hover {
  color: #828282;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myphoto {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 30px 0 104px 0;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 506px;
  background-color: #F6F6F6;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__aboutme .aboutme__text {
  width: 485px;
  height: 218px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__aboutme .aboutme__text .text__h {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  color: #070707;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__aboutme .aboutme__text .text__p1 {
  margin: 10px 0 20px 0;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__aboutme .aboutme__text .text__p2 {
  margin: 0 0 20px 0;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap {
  width: 943px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__text .text__skill {
  margin: 0 0 65px 0;
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__text .text__skil {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 43px 43px 0 43px;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .programs__visualstudio img {
  padding: 0 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .visualstudio__text {
  padding: 23px 0;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .programs__gulp img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .gulp__text {
  padding: 23px 0;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .programs__js img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .js__text {
  padding: 23px 0;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .programs__figma img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .figma__text {
  padding: 23px 0;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__portfolios {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  padding: 47px;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work1 img {
  -o-object-fit: cover;
     object-fit: cover;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .work1__text1 {
  color: #070707;
  margin: 44px 0 99px 0;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work2 img {
  -o-object-fit: cover;
     object-fit: cover;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .work2__text2 {
  color: #070707;
  margin: 44px 0 99px 0;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work3 img {
  -o-object-fit: cover;
     object-fit: cover;
}

.conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .work3__text3 {
  color: #070707;
  margin: 44px 0 99px 0;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.conteiner__wrapper .wrapper__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.conteiner__wrapper .wrapper__footer .footer__message {
  width: 100%;
  text-align: center;
}

.conteiner__wrapper .wrapper__footer .footer__message .message__contacts {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  color: #070707;
}

.conteiner__wrapper .wrapper__footer .footer__message .message__chatme {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  margin: 20px 0 20px 0;
}

.conteiner__wrapper .wrapper__footer .footer__message .message__button {
  margin: 29px 0 80px 0;
  display: inline-block;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  border-radius: 50px;
  padding: 5px 20px;
  background-color: black;
  color: #FFFFFF;
}

.conteiner__wrapper .wrapper__footer .footer__message .message__button:hover {
  -webkit-text-decoration: underline 2px solid #F6F6F6;
          text-decoration: underline 2px solid #F6F6F6;
}

.conteiner__wrapper .wrapper__footer .footer__ico {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 45px 0;
  max-width: 200px;
}

.conteiner__wrapper .wrapper__footer .footer__ico .ico__ic:hover {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: relative;
  bottom: 5px;
  right: 0;
}

.conteiner__wrapper .wrapper__footer .footer__admin {
  text-align: center;
}

.conteiner__wrapper .wrapper__footer .footer__admin .admin__text {
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

@media (max-width: 1000px) {
  .conteiner__wrapper .wrapper__heads .navbar__wrap .menu {
    display: none;
  }

  .conteiner__wrapper .wrapper__heads .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .conteiner__wrapper .wrapper__heads .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .conteiner__wrapper .wrapper__heads .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .conteiner__wrapper .wrapper__heads .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .conteiner__wrapper .wrapper__heads .popup.open {
    left: 0;
  }

  .conteiner__wrapper .wrapper__heads .popup .menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .conteiner__wrapper .wrapper__heads .popup .menu > li {
    width: 100%;
  }

  .conteiner__wrapper .wrapper__heads .popup .menu > li > a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .conteiner__wrapper .wrapper__heads .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .conteiner__wrapper .wrapper__heads .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .conteiner__wrapper .wrapper__heads .hamb__field.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  .conteiner__wrapper .wrapper__heads .hamb__field.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }

  .conteiner__wrapper .wrapper__heads body.noscroll {
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .conteiner__wrapper .wrapper__heads .heads__headlink {
    width: 768px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 768px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__name h1 {
    padding: 0 0 20px 0;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__rueng {
    opacity: 0;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myphoto img {
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0;
    width: 768px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 768px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap {
    width: 768px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work1 img {
    width: 768px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work2 img {
    width: 768px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work3 img {
    width: 768px;
  }

  .conteiner__wrapper .wrapper__heads {
    width: 768px;
  }

  .conteiner__wrapper .wrapper__bodywrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 768px;
  }

  .conteiner__wrapper .heads__headlink {
    visibility: hidden;
  }

  .conteiner__wrapper .heads__line {
    visibility: hidden;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .conteiner__wrapper .wrapper__heads .heads__headlink {
    width: 480px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 480px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__name h1 {
    padding: 0 0 10px 0;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__rueng {
    opacity: 0;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myphoto img {
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 5px;
    width: 480px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 480px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap {
    width: 480px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work1 img {
    width: 480px;
    padding: 5px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work2 img {
    width: 480px;
    padding: 5px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work3 img {
    width: 480px;
    padding: 5px;
  }

  .conteiner__wrapper .heads__headlink {
    visibility: hidden;
  }

  .conteiner__wrapper .heads__line {
    visibility: hidden;
  }

  .conteiner__wrapper .wrapper__heads {
    height: 100%;
    padding: 80px;
    width: 480px;
  }

  .conteiner__wrapper .wrapper__bodywrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 480px;
  }

  .conteiner__wrapper .wrapper__footer {
    margin: 100px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 480px;
  }

  .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 3450px;
  }
}

@media (min-width: 375px) and (max-width: 479px) {
  .conteiner__wrapper .wrapper__heads .heads__headlink {
    width: 375px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 375px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__name h1 {
    padding: 0 0 10px 0;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myinfo .myinfo__rueng {
    opacity: 0;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__nameyears .nameyears__myphoto img {
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 5px;
    width: 375px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 375px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__aboutme .aboutme__text {
    padding: 10px;
    width: 375px;
    font-size: 16px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 375px;
    height: 100%;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .programs__visualstudio img {
    margin: 0 0 0 9px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs .programs__js img {
    margin: 0 0 0 5px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__skillswrap .skillswrap__programs img {
    width: 60px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work1 img {
    width: 375px;
    padding: 5px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work2 img {
    width: 375px;
    padding: 5px;
  }

  .conteiner__wrapper .wrapper__bodywrap .bodywrap__porfolio .porfolio__work3 img {
    width: 375px;
    padding: 5px;
  }

  .conteiner__wrapper .heads__headlink {
    visibility: hidden;
  }

  .conteiner__wrapper .heads__line {
    visibility: hidden;
  }

  .conteiner__wrapper .wrapper__heads {
    width: 375px;
    height: 100%;
    padding: 170px;
  }

  .conteiner__wrapper .wrapper__bodywrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 375px;
  }

  .conteiner__wrapper .wrapper__footer {
    margin: 100px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 375px;
  }

  .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 3150px;
  }
}

@media (min-width: 1001px) and (max-width: 2450px) {
  .conteiner__wrapper .navbar {
    visibility: hidden;
  }
}